@media only screen and (max-width: 412px) {
	html, body {
		height: 90%;
	}
}

@media only screen and (min-width: 413px) {
	html, body {
		height: 100%;
	}
}


html,body { 
	width: 100%;
	padding: 0.1px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	background-color: white;
	box-sizing: border-box;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}

a:visited {

}

h1 {
	text-align: center;
}

.center {
	margin: 0 auto;
	text-align: center;
	float: none;
}

.container, .row, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}.container {
	width: 100%;
	margin: 0;
	padding: 0;
}



@media only screen and (max-width: 700px) {
	nav ul li.nav-link{
		display: none;
	}
	nav {
		border-bottom: initial !important;
	}
	nav.on-scroll {
		animation: none !important;
	}
}

@media only screen and (min-width: 701px) {
	#hamberger {
		display: none;
	}
}


nav {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	//background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}nav a {
	color: white;
	position: relative;
	opacity: 0.5;
}nav a:hover {
	//color: rgb(64, 234, 214);
	//color: #48E6BC;
	color: white;
	opacity: 1;
}
// nav:hover a:not(:hover) {
// 	opacity: 0.5;
// }

#logo {
	float: left;
	padding-left: 5rem; 
	font-size: 1.7rem;
	font-style: italic;
	letter-spacing: 0.5rem;
	color: white;
}.nav-link {
	float: right;
	padding-right: 4rem;
	font-size: 1.7rem;
	// font-weight: lighter;
}li.nav-link, #logo {
	padding-top: 2.1rem;
	padding-bottom: 2.1rem;
}nav ul li a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2.5px;
	left: 0px;
	bottom: -4px;
	//background-color: #3AA9D5;
	background-color:white;

	visibility: hidden;
	-webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}nav ul li a:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}nav.on-scroll {
	animation: switch-color 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes switch-color {
	from {background-color: rgba(0, 0, 0, 0);}
	to {background-color: rgba(0, 0, 0, 0.8);}
}

.hide {
	display: none;
}

#hamberger {
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	padding-right: 2rem;
	padding-top: 2rem;
	height: 100%;
	z-index: 100;
}#hamberger.active {
	width: 100%;
	background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
#hamberger i {
	cursor: pointer;
	color: #0161A5;
}#hamberger i:hover {
	color: #46D9B2;
}

#hamberger ul {
	list-style: none;
}#hamberger ul li {
	opacity: 0;
	margin-top: 2rem;
	font-size: 2rem;
}#hamberger ul li a:hover {
	color: #46D9B2;
}#hamberger ul li:nth-of-type(1) {
	animation: fade-in-left 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}#hamberger ul li:nth-of-type(2) {
	animation: fade-in-left 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
}#hamberger ul li:nth-of-type(3) {
	animation: fade-in-left 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}#hamberger ul li:nth-of-type(4) {
	animation: fade-in-left 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}#hamberger ul li:nth-of-type(5) {
	animation: fade-in-left 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
}



@keyframes fade-in-left {
	from {opacity: 0; transform: translateX(30%);}
	to {opacity: 1; transform: translateX(0%);}
}








footer {
	padding: 4rem 0 1rem 0;
	background-color: #101010;
	color: rgba(255, 255, 255, 0.5);
}footer .social-link a {
	color: grey;
	margin-right: 3rem;
}footer .social-link a:last-child {
	margin-right: 0;
}footer .social-link a:hover {
	color: #48E6BC;
}footer p {
	transform: translateY(-50%);
	margin-left: 3rem;
	margin-bottom: 1rem !important;
	font-weight: initial;
	color: rgba(255, 255, 255, 0.5);
}

body > div:last-child {
	height: 0% !important;
}