@media only screen and (max-width: 412px) {
	div.landing div.content h1 {
	font-size: 4rem;
	}
	div.landing p:first-of-type {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 413px) {
	div.landing div.content h1 {
	font-size: 7rem;
	}
	div.landing p:first-of-type {
		font-size: 1.5rem;
	}
}



div.landing {
	height: 100%;
	width: 100%;
	background: linear-gradient(
                     rgba(20,20,20, 0.4), 
                     rgba(20,20,20, 0.4)),
                     url('../img/landing.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}div.landing div.content {
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}div.landing div.content h1 {
	//font-size: 7rem;
	transform:translate3d(0,0,0);
}div.landing div.content p.social-link {
	margin-top: 2rem;
	letter-spacing: 1.2rem;
	transform:translate3d(0,0,0);
	font-size: 1.2rem;
}div.landing div.content p.social-link a {
	color: white;
	opacity: 0.6;
	transform:translate3d(0,0,0);
}div.landing div.content p.social-link i:hover {
	animation: pulse 1s infinite;
}div.landing h1, div.landing p {
	text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}div.landing p:first-of-type {
	//font-size: 1.5rem;
	opacity: 0.8;
}div.landing > i {
	position: absolute;
	bottom: 3rem;
	color: white;
	opacity: 0.6;
}div.landing > i:hover {
	animation: pulse 1s infinite;
	cursor: pointer;
}div.landing h1 {
	font-weight: lighter;
	opacity: 0;
	animation: enlarge-in 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}div.landing div.content p {
	opacity: 0;
	transform: translateY(300%);
	animation: fade-in-top 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
}

@keyframes pulse {
  from { transform: translateY(0%);}
  50% { transform: translateY(-25%);}
  to { transform: translateY(0%);}
}

@keyframes enlarge-in {
	from {transform: scale(3,3); opacity: 0}
	to {transform: scale(1,1); opacity: 1}
}

@keyframes fade-in-top {
	from {transform: translateY(300%); opacity: 0;}
	to {transform: translateY(0%); opacity: 1;}
}



@media only screen and (max-width: 800px) {
	#about ul li:nth-of-type(2), #about ul li:nth-of-type(1), #about ul li:nth-of-type(4),
	#about ul li:nth-of-type(5) {
		display: none;
	}
}



div.about {
	text-align: center;
	margin-top: 8rem;
}div.about ul {
	list-style: none;
}div.about ul li {
	display: inline-block;
}div.about ul li img {
	width: 7rem;
	margin: 0 3rem;
	opacity: 0;
}

// #about ul li:nth-of-type(2), #about ul li:nth-of-type(1), #about ul li:nth-of-type(4),
// 	#about ul li:nth-of-type(5) {
// 		display: none;
// 	}

#about.active ul li:nth-of-type(2) img {
	animation: fade-in-left-small 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: 0.3s;
}#about.active ul li:nth-of-type(1) img {
	animation: fade-in-left-big 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: 0.3s;
}#about.active ul li:nth-of-type(4) img {
	animation: fade-in-right-small 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: 0.3s;
}#about.active ul li:nth-of-type(5) img {
	animation: fade-in-right-big 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: 0.3s;
}#personal-img {
	width: 20rem;
	border-radius: 50%;
	filter: saturate(100%);
	opacity: 0;
}#about.active #personal-img {
	animation: fade-in-top-small 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}





div.about p {
	font-size: 1.7rem;
	margin-top: 5rem;
	opacity: 0;
}#about.active p {
	animation: fade-in-top-small-p 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: 0.8s;
}


div.about h1 {
	position: relative;
	font-weight: lighter;
	font-style: italic;
	color: #2C3F61;
}div.about h1:before {
	content: '';
	width: 100px;
	height: 2px;
	background: linear-gradient(to left, #3e4a54, rgba(255, 255, 255, 0));;
	position: absolute;
	top:50%;
	transform: translateX(-120%);
}div.about h1:after {
	content: '';
	width: 100px;
	height: 2px;
	background: linear-gradient(to right, #3e4a54, rgba(255, 255, 255, 0));
	position: absolute;
	top:50%;
	transform: translateX(22%);
}


@keyframes fade-in-top-small {
	from {opacity: 0; transform: translateY(20%);}
	to {opacity: 1; transform: translateY(0%);}
}

@keyframes fade-in-top-small-p {
	from {opacity: 0; transform: translateY(20%);}
	to {opacity: 0.8; transform: translateY(0%);}
}

@keyframes fade-in-left-small {
	from {opacity: 0; transform: translateX(160%);}
	to {opacity: 1; transform: translateX(0%);}
}

@keyframes fade-in-left-big {
	from {opacity: 0; transform: translateX(360%);}
	to {opacity: 1; transform: translateX(0%);}
}

@keyframes fade-in-right-small {
	from {opacity: 0; transform: translateX(-160%);}
	to {opacity: 1; transform: translateX(0%);}
}

@keyframes fade-in-right-big {
	from {opacity: 0; transform: translateX(-360%);}
	to {opacity: 1; transform: translateX(0%);}
}








div.about .skills {
	background-color: #F1F4F9;
	padding: 7rem 0;
	background: linear-gradient(
                     rgba(20,20,20, 0.7), 
                     rgba(20,20,20, 0.7)),
                     url('../img/skill.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	background-attachment: fixed;
}.skills div div div {
	text-align: left;
	text-indent: 2rem;
	font-size: 1.6rem;
}.skills .row div span{
	letter-spacing: 0.1rem;
	font-weight: lighter;
	font-style: italic;
	opacity: 0.9;
}




.bar {
	width: 90%;
	height: 0.5rem;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	margin-bottom: 2rem;

}.progress {
	height: 100%;
	background: linear-gradient(to right, #a871bf, #37E5D6);
	//background: linear-gradient(to right, #37B9E9, #1BBCB1);
	background: linear-gradient(to right, #0166AD, #4CF1C5);
	width: 0%;
}#skill.active .progress.javascript {
	animation: javascript-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
}#skill.active .progress.html5-css3 {
	animation: html5-css3-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
}#skill.active .progress.react {
	animation: react-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.2s;
}#skill.active .progress.angular {
	animation: angular-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.2s;
}#skill.active .progress.nodejs {
	animation: nodejs-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.4s;
}#skill.active .progress.postgres {
	animation: postgres-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.4s;
}#skill.active .progress.jquery {
	animation: jquery-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.6s;
}#skill.active .progress.ajax {
	animation: ajax-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.6s;
}#skill.active .progress.mocha {
	animation: mocha-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.8s;
}#skill.active .progress.socket {
	animation: socket-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 0.8s;
}#skill.active .progress.ux-ui{
	animation: ux-ui-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 1s;
}#skill.active .progress.ps {
	animation: ps-bar 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	animation-delay: 1s;
}

@keyframes javascript-bar {
	from {width: 0} to {width: 90%}
}
@keyframes html5-css3-bar{
	from {width: 0} to {width: 85%}
}
@keyframes react-bar{
	from {width: 0} to {width: 90%}
}
@keyframes angular-bar{
	from {width: 0} to {width: 70%}
}
@keyframes nodejs-bar{
	from {width: 0} to {width: 80%}
}
@keyframes postgres-bar{
	from {width: 0} to {width: 80%}
}
@keyframes jquery-bar{
	from {width: 0} to {width: 70%}
}
@keyframes ajax-bar{
	from {width: 0} to {width: 70%}
}
@keyframes mocha-bar{
	from {width: 0} to {width: 55%}
}
@keyframes socket-bar{
	from {width: 0} to {width: 60%}
}
@keyframes ux-ui-bar{
	from {width: 0} to {width: 75%}
}
@keyframes ps-bar{
	from {width: 0} to {width: 65%}
}

