nav {
	//background-color: rgba(0, 0, 0, 0.8);
}

header {
	text-align: center;
	color: blue;
	padding: 18rem 0;
	background: linear-gradient(
                     rgba(20,20,20, 0.4), 
                     rgba(20,20,20, 0.4)),
                     url('./practice/resource/work.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	background-attachment: fixed;
	filter: contrast(130%);
}header h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 4.5rem;
	font-weight: lighter;
	opacity: 0;
}header h5 {
	opacity: 0;
	margin: 0;
	font-style: italic;
}

header h1 ,header h5 {
	transform: translateY(200%);
	animation: fade-in-top 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
}

@keyframes fade-in-top {
	from {transform: translateY(200%); opacity: 0;}
	to {transform: translateY(0%); opacity: 1;}
}



#experience {
	padding: 8rem 0;
	position: relative;
}#experience .row{
	position: relative;
}
#experience canvas {
	display: block;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 4px 4px 7px 0px grey;
	margin: 2rem auto;
	margin-bottom: 4rem;

}#experience i {
	padding: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: grey;
	border-radius: 50%;
	box-shadow: 4px 4px 7px 0px grey;
	background-color: white;
	z-index: 1;
}#experience .right {
	text-align: right;
	float: left;
	padding: 0 5rem 2rem 5rem;
}#experience .left {
	text-align: left;
	float: right;
	padding: 0 5rem 2rem 5rem;
}#experience h5{
	font-style: italic;
	color: rgb(13, 164, 214);
	font-weight: bold;
}#experience .date h4 {
	display: inline-block;
	text-transform: capitalize;
	border-radius: 1.5rem;
	background-color: #03a9f4;
	color: white;
	padding: 1.5rem;
	margin-top: 0;
}#experience p {
	opacity: 0.7;
}#experience #centerline {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 2px;
	left: 50%;
	top: 0;
	padding: 8rem 0;
	padding-top: 19rem;
}#experience #centerline div {
	border: 1px dotted grey;
	height: 100%;
	width: 100%;
	transform: translateX(-50%);
	z-index: -1;
}

#experience canvas, #experience #centerline, #experience i {
	opacity: 0;
	animation: fade-in 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

#touro .right {
	opacity: 0;
	animation: fade-in-left 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
}#touro .left {
	opacity: 0;
	animation: fade-in-right 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
}

#fullstack .right {
	opacity: 0;
	animation: fade-in-left 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1.6s;
}#fullstack .left {
	opacity: 0;
	animation: fade-in-right 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1.6s;
}

#consulting .right {
	opacity: 0;
	animation: fade-in-left 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 2.0s;
}#consulting .left {
	opacity: 0;
	animation: fade-in-right 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 2.0s;
}

#research .right {
	opacity: 0;
	animation: fade-in-left 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 2.4s;
}#research .left {
	opacity: 0;
	animation: fade-in-right 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 2.4s;
}



@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fade-in-left {
	from {opacity: 0; transform: translateX(-30%);}
	to {opacity: 1; transform: translateX(0%);}
}

@keyframes fade-in-right {
	from {opacity: 0; transform: translateX(30%);}
	to {opacity: 1; transform: translateX(0%);}
}



