body{
		margin: 0;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

	header {
		background-image: url('https://unsplash.it/1221/600');
		padding: 150px 0px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		font-weight: bold;
		color: white;
	}header p {
		font-size: 16px;
		font-weight: lighter;
		opacity: 0.8;
	}

	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 50px;
	}

	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
	} h2 span {
		color: red;
	}

	a:hover {
		color: #1686B0;
	}

	p {
		font-weight: lighter;
	}


	footer, .project {
		padding: 50px;
	}

	footer {
		background: #272822;
	}

	.icon {
		position: relative;
		width: 18px;
	}

	.social {
		width:50px;
		padding: 6px;
	}

	.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}