body{
		margin: 0;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
}

header {
	background-image: url('practice/resource/background.jpg');
	padding: 60px 0px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-weight: bold;
	text-shadow: 2px 2px 10px #000000;
}header p {
	font-size: 18px;
	font-weight: 500;
	opacity: 0.9;
	color: white;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: white;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
} h3 span, h4 span {
	font-family: 'Montserrat', sans-serif;
	color: red;
}

h3 {
	margin-top: 8px;
}

a:hover {
	color: #1686B0;
}

p {
	font-weight: lighter;
	line-height: 26px;
	color: #868686;
}

hr {
	margin-top:50px;
}

iframe {
}

footer, .project {
	padding: 30px;
}

footer {
	background: #272822;
	color: white
}

.project h4 {
	margin-bottom: 20px;
}

.icon {
	position: relative;
	width: 18px;
}

.social {
	width:50px;
	padding: 6px;
}

.col-center-block {
  float: none;
  display: block;
  margin: 0 auto;
  /* margin-left: auto; margin-right: auto; */
}

img.work-demo{
	margin: 5px;
	box-shadow: 1px 1px 10px 0px grey;
	margin-bottom: 10px;
}

.iframe-position{
	left: 6px;
	top: 15px;
	border: 0px solid #ddd;
	border-radius: 6px;
	box-shadow: 1px 1px 10px 0px grey;
}

#disable {
	position: relative;
}

#hover-text {
	display: none;
}

#disable:hover span{
	display: none;
}

#disable:hover:before{
	content: 'Under Maintenance';
}

p span {
	display: inline-block;
	border: 2px solid #03A9F4;
	padding: 4px;
	border-radius: 8px;
	color: #03A9F4;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 6px
}

p span:hover {
	background: #03A9F4;
	color: white;
}

.person{
  width: 30%;
  border: 7px solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #000000;
  min-width: 150px;
  margin-top: 10px;
}